{
  CIDER: {
    dependencies: {
      tatin: "packages",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "",
    init: "",
    make: "Make",
    parent: "#",
    projectSpace: "APLAutoHotKey",
    project_url: "",
    source: "APLSource",
    tests: "RunTests",
  },
  LINK: {
    arrays: 0,
    beforeRead: "",
    beforeWrite: "",
    caseCode: 0,
    codeExtensions: [
      "aplf",
      "aplo",
      "apln",
      "aplc",
      "apli",
      "dyalog",
      "apl",
      "mipage",
    ],
    fastLoad: 0,
    flatten: 0,
    forceExtensions: 0,
    forceFilenames: 1,
    getFilename: "",
    typeExtensions: [
      [
        2,
        "apla",
      ],
      [
        3,
        "aplf",
      ],
      [
        4,
        "aplo",
      ],
      [
        9.1,
        "apln",
      ],
      [
        9.4,
        "aplc",
      ],
      [
        9.5,
        "apli",
      ],
    ],
    watch: "both",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
    APLVersion: "18.2",
    HTMLRenderer: {
      files: [
        "chrome_100_percent.pak",
        "chrome_200_percent.pak",
        "chrome_elf.dll",
        "d3dcompiler_47.dll",
        "htmlrenderer.dll",
        "icudtl.dat",
        "libcef.dll",
        "libEGL.dll",
        "libGLESv2.dll",
        "resources.pak",
        "snapshot_blob.bin",
        "v8_context_snapshot.bin",
        "dyalognet.dll",
        "bridge182-64_unicode.dll",
      ],
      folders: [
        "locales",
        "swiftshader",
      ],
    },
  },
}
